<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vivek\Form\Api\CarsRepositoryInterface" type="Vivek\Form\Model\CarsRepository" />
<preference for="Vivek\Form\Api\Data\CarsInterface" type="Vivek\Form\Model\Cars" />
</config>